/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
.sections { padding-right: 10px !important; border-right: 1px solid #c5ceda; }
.sections ul { list-style: none; padding-left: 0; }
.sections li > ul { display: none; padding-right: 10px; margin-right: 3px; border-right: 1px solid #c5ceda; }
.sections li > a { display: inline-block !important; opacity: 0.8; }
.sections li > span.dash { font-weight: bold; color: #c5ceda; margin-right: -11px; }
.sections li.deleted > a { text-decoration: line-through; }
.sections li.active > a { font-weight: bold; opacity: 1; }
.sections li.active > ul,
.sections.opened li > ul { display: block; }
a.new-section { margin-top: 5px; }
md-fab-speed-dial {
  position: fixed;
  bottom: 55px;
  right: 35px;
  z-index: 10;
}
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.box-section { display: inline-block; margin-left: 50px; }
.box-item { }
.box-item .preview-picture {
  width: 100%;
  height: 150px;
  color: white;
  background-color: #cacaca;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-item .activated { text-align: center; }
.box-item .activated md-switch { margin: 2px 0; display: inline-block; vertical-align: top; }
.box-item .activated md-switch .md-container { margin-right: 0; }
.box-item h3 { margin: 0; }
.box-item .actions { text-align: center; font-size: 1.45em; }
.box-item .actions > a { opacity: 0.1; }
.box-item:hover .actions > a,
.box-item:focus .actions > a { opacity: 0.9; }