# Framework
# ---------
YII_DEBUG     = false
YII_ENV       = prod
YII_DEMO_DATA = true

# Databases
# ---------
DB_DSN  = mysql:unix_socket=/var/run/mysqld/mysqld.sock;dbname=cookyii
DB_HOST = localhost
DB_USER = cookyii
DB_PASS = null
DB_BASE = cookyii

# Urls
# ----
FRONTEND_DOMAIN = cookyii-project.lc
BACKEND_DOMAIN  = backend.cookyii-project.lc

# SMTP
# ----
SMTP_HOST = null
SMTP_PORT = 25
SMTP_USER = null
SMTP_PASS = null
SMTP_ENC  = tls

# Other
# -----
FRONTEND_COOKIE_VALIDATION_KEY = <generated_key>
BACKEND_COOKIE_VALIDATION_KEY = <generated_key>

