# Rollbar
# https://rollbar.com/
# ------------------------------------
ROLLBAR_ACCESS_TOKEN = null

# Facebook
# https://developers.facebook.com/apps
# ------------------------------------
FACEBOOK_CLIENT_ID     = null
FACEBOOK_CLIENT_SECRET = null

# GitHub
# https://github.com/settings/applications/new
# --------------------------------------------
GITHUB_CLIENT_ID     = null
GITHUB_CLIENT_SECRET = null

# Google Plus
# https://console.developers.google.com/project
# ---------------------------------------------
GOOGLE_CLIENT_ID     = null
GOOGLE_CLIENT_SECRET = null

# LinkedIN
# https://www.linkedin.com/secure/developer
# -----------------------------------------
LINKEDIN_CLIENT_ID     = null
LINKEDIN_CLIENT_SECRET = null

# Microsoft Live
# https://account.live.com/developers/applications
# ------------------------------------------------
LIVE_CLIENT_ID     = null
LIVE_CLIENT_SECRET = null

# Twitter
# https://apps.twitter.com/app/new
# --------------------------------
TWITTER_CLIENT_ID     = null
TWITTER_CLIENT_SECRET = null

# Vkontakte
# https://vk.com/editapp?act=create
# ---------------------------------
VKONTAKTE_CLIENT_ID     = null
VKONTAKTE_CLIENT_SECRET = null

# Yandex
# https://oauth.yandex.ru/client/new
# ----------------------------------
YANDEX_CLIENT_ID     = null
YANDEX_CLIENT_SECRET = null
