# Codeception Test Suite Configuration

# suite for acceptance tests.
# perform tests in browser using the WebDriver or PhpBrowser.
# If you need both WebDriver and PHPBrowser tests - create a separate suite.

class_name: AcceptanceTester
modules:
    enabled:
        - PhpBrowser
        - erp\tests\_support\FixtureHelper
        - erp\tests\_support\AcceptanceHelper
    config:
        PhpBrowser:
            url: 'http://erp.evrogen.lc'
