/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
md-switch { margin: 0 10px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-messages { }
.table-messages td { vertical-align: middle !important; }
.table-messages td.id { width: 70px; }
.table-messages td.subject { }
.table-messages td.address { }
.table-messages td.created { }
.table-messages td.sent { }
.table-messages td.sent > a.resent { opacity: 0.1; font-size: 1.42em; margin-right: 10px; }
.table-messages td.actions { width: 80px; text-align: center; font-size: 1.88em; padding: 0; }
.table-messages td.actions > a { opacity: 0.1; }
.table-messages tr:hover .actions > a,
.table-messages tr:focus .actions > a,
.table-messages tr:hover .sent > a,
.table-messages tr:focus .sent > a { opacity: 0.9; }
.table-messages tr.deleted { }
.table-messages tr.deleted td { color: #B8B8B8; text-decoration: line-through; }
