/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
md-switch { margin: 0 10px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-accounts { }
.table-accounts td.activated { width: 65px; padding: 6px 0; }
.table-accounts td.id { width: 70px; }
.table-accounts td.name { text-align: right; }
.table-accounts td.email { width: 200px; }
.table-accounts td.updated { }
.table-accounts td.actions { width: 80px; text-align: center; font-size: 1.88em; padding: 0; }
.table-accounts td.actions > a { opacity: 0.1; }
.table-accounts tr:hover .actions > a,
.table-accounts tr:focus .actions > a { opacity: 0.9; }
.table-accounts tr.deactivated { }
.table-accounts tr.deactivated td { color: #B8B8B8; }
.table-accounts tr.deleted { }
.table-accounts tr.deleted td { text-decoration: line-through; }
