/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
md-switch { margin: 0 10px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-clients { }
.table-clients td.id { width: 70px; }
.table-clients td.account { width: 170px; }
.table-clients td.name { text-align: right; }
.table-clients td.email { width: 200px; }
.table-clients td.updated { }
.table-clients td.actions { width: 80px; text-align: center; font-size: 1.88em; padding: 0; }
.table-clients td.actions > a { opacity: 0.1; }
.table-clients tr:hover .actions > a,
.table-clients tr:focus .actions > a { opacity: 0.9; }
.table-clients tr.deactivated { }
.table-clients tr.deactivated td { color: #B8B8B8; }
.table-clients tr.deleted { }
.table-clients tr.deleted td { color: #B8B8B8; text-decoration: line-through; }
