.login-logo, .register-logo {
  text-shadow: 0 0 11px #3F5D8C;
  color: rgb(24, 24, 24);
}
.content-wrapper, .right-side { background-color: #ECF0F5; }
.main-footer { background: #222D32; color: #B8C7CE; border: 0; padding: 10px 15px; }