/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-accounts { }
.table-accounts .activated { width: 50px; text-align: center; font-size: 20px; padding: 4px; }
.table-accounts .id { width: 70px; }
.table-accounts .name { text-align: right; }
.table-accounts .email { width: 200px; }
.table-accounts .updated { }
.table-accounts .actions { width: 70px; text-align: center; }
.table-accounts .actions > a { opacity: 0.1; }
.table-accounts tr:hover .actions > a,
.table-accounts tr:focus .actions > a { opacity: 0.9; }
.table-accounts tr.deleted { }
.table-accounts tr.deleted .id,
.table-accounts tr.deleted .name,
.table-accounts tr.deleted .email,
.table-accounts tr.deleted .updated { text-decoration: line-through; color: #A6A6A6; }
