/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
md-switch { margin: 0 10px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-accounts { }
.table-accounts td.activated { width: 65px; padding: 6px 0; }
.table-accounts td.id { width: 70px; }
.table-accounts td.name { text-align: right; }
.table-accounts td.email { width: 200px; }
.table-accounts td.updated { }
.table-accounts td.actions { width: 70px; text-align: center; font-size: 1.45em; padding: 4px; }
.table-accounts td.actions > a { opacity: 0.1; }
.table-accounts tr:hover .actions > a,
.table-accounts tr:focus .actions > a { opacity: 0.9; }
.table-accounts tr.deactivated { }
.table-accounts tr.deactivated .id,
.table-accounts tr.deactivated .name,
.table-accounts tr.deactivated .email,
.table-accounts tr.deactivated .updated { color: #B8B8B8; }
.table-accounts tr.deleted { }
.table-accounts tr.deleted .id,
.table-accounts tr.deleted .name,
.table-accounts tr.deleted .email,
.table-accounts tr.deleted .updated { text-decoration: line-through; }
