form {
  .form-notify {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
    background-color: #FFD696;
    padding: 10px 0;
    text-align: center;
    .btn { margin-left: 10px; }
  }
  &.ng-dirty {
    .form-notify { display: block; }
  }
}
.clear-search {
  position: absolute;
  top: 3px; right: 50px;
  z-index: 10;
  font-size: 1.2em;
  color: #DDDDDD;
  outline: none !important;
}
.form-group {
  &.narrow { padding-bottom: 0; }
  .checkbox-list, .radio-list {
    label {
      display: block;
      cursor: pointer;
    }
  }
  .custom-checkbox, .custom-radio {
    font-size: 2.3rem;
    vertical-align: sub;
  }
  .error-balloon {
    position: absolute;
    padding: 3px 14px 0 14px;
    color: #EC4758;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 1.4;
  }
}
.has-feedback {
  .form-control {
    padding-right: 30px;
  }
  .form-control-feedback {
    top: initial !important;
    margin: -24px 5px 0 0;
    color: lighten(@text-color, 20%);
    line-height: 1;
    font-size: 1.6rem;
  }
}
