/*********************************** Other *****************/
.content-wrapper { padding-bottom: 35px; }
md-switch { margin: 0 10px; }
/*********************************** Search ****************/
.search { width: 150px; margin-right: 100px; transition: width .4s ease-out; }
.search.wide { width: 300px; }
/*********************************** Table *****************/
.table-pages { }
.table-pages td.activated { width: 65px; padding: 6px 0; }
.table-pages td.id { width: 70px; }
.table-pages td.title { }
.table-pages td.updated { }
.table-pages td.actions { width: 80px; text-align: center; font-size: 1.88em; padding: 0; }
.table-pages td.actions > a { opacity: 0.1; }
.table-pages tr:hover .actions > a,
.table-pages tr:focus .actions > a { opacity: 0.9; }
.table-pages tr.deactivated td { color: #b8b8b8; }
.table-pages tr.deleted td { text-decoration: line-through; }
